/* main & global css file  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* variables  */

:root {
  --lato: "Lato", poppins;
  --primary-color: #1c2b35;
  --primary-color-alt: ##2a414f;
  --secondary-color: #ff9900;
  --secondary-color-alt: #995c00;
  --dark-color: #333;
  --light-color: #ffff;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--lato);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* custom classes  */
.container {
  max-width: min(100% - 2rem, 1270px);
  margin-inline: auto;
}
.d-none {
  display: none;
}
.my-md {
  margin: 2rem 0rem;
}
.m-md {
  margin: 1.2rem;
}
.p-md {
  padding: 1rem;
}
